// BootStrap Components
.jumbotron {
  background-color: peru;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: 2rem 10%;
}
.row {
  margin: 0;
}
.col {
  padding: 0 10px;
}
.col:first-of-type {
  padding-left: 20px;
}
.col:last-of-type {
  padding-right: 20px;
}
.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
.form-group:first-of-type {
  margin-top: 20px;
}
.form-group:last-of-type {
  margin-bottom: 20px;
}

// AngularJS Components
.root-component {
  background-color: papayawhip;
}
.component {
  border: 3px solid peru;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.2);
  padding: 10px 20px;
  margin: 10px 0;
}
.component:first-of-type {
  margin-top: 20px;
}
.component:last-of-type {
  margin-bottom: 20px;
}

// HTML Element Selectors
h2,
h3 {
  text-align: center;
}
select,
input[type="text"],
input[type="number"] {
  min-width: 112px;
  width: 65%;
}
button {
  display: block;
  margin: 10px auto 20px;
  width: 50%;
}
select {
  width: 100%;
  max-width: 380px;
  display: block;
  margin: 0 auto;
  font-size: 2rem;
}
